/*Colors*/
$off-white : #F5F7F7;
$light-grey : #86868B;
$dark : #333333;
$black : #1D1D1F;
$blue : #1B9CFC;
$turquoise : #25CCF7;

/*Typography*/
$primary : 'Montserrat', sans-serif;

/*Layout*/
$desktop-padding : 150px;

/*Z Index*/
$highest-z : 2147483647;
$lowest-z : -2147483647;

/*Break Points*/
$mobile : 575px;
$tablet : 767px;
$medium : 991px;
$laptop : 1199px;
$desktop : 1440px;


/*Custom Sizing*/
$nav-height : 44px;