/*Colors*/
$athens-grey : #F5F7F7;
$jumbo-grey : #86868B;
$mine-shaft : #333333;
$shark-dark : #1D1D1F;
$abbey-grey : #515154;
$chill-blue : #1B9CFC;
$bright-turquoise : #25CCF7;

/*Typography*/
$primary : 'Montserrat', sans-serif;

/*Layout*/
$desktop-padding : 150px;

/*Z Index*/
$highest-z : 2147483647;
$lowest-z : -2147483647;