.Signup {
    margin: 0 auto;
    width: 300px;
    padding: 150px 0;
    text-align: center;
    input {
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
        padding: 5px 20px;
        width: 200px;
    }
    button {
        margin-top: 15px;
    }
}