@import "../../styles/_variables.scss";
/*Declare local variables*/
$font-size : 0.875rem;

.Navbar {
    background-color: $dark;
    color: $off-white;
    font-size: $font-size;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: $highest-z;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $nav-height;

        a{
            text-decoration: none;
            color: inherit;
        }

        a.active {
            color: $light-grey;
        }
    }
}

.Navbar-Offset {
    height: $nav-height;
}