/*Import global variables*/
@import "../../styles/variables.scss";

/*Declare local variables*/
$font-size : 0.875rem;
$height : 44px;

.Navbar {
    background-color: $mine-shaft;
    color: $athens-grey;
    font-family: $primary;
    font-size: $font-size;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: $highest-z;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $height;
        padding: 0 100px;

        a{
            text-decoration: none;
            color: inherit;
        }
    }
}

.Navbar-Offset {
    height: $height;
}