@import "../../styles/variables";
.Signin {
  .inner {
    margin: {
        left: auto;
        right: auto;
    };
    padding: {
      top: map-get($spacing, "md");
      bottom: map-get($spacing, "md");
    }
    text-align: center;
    width: max-content;
  }
}
